@import "tailwindcss";


.toast{
  animation: slide 1s 1;

}

@keyframes slide{
  0%{
    transform:translateX(100%);
  }
  
  100%{
    transform:translateX(0%);
  }
}
button{
  padding: 2px 4px;
 border: solid 2px;
}

.warning{
  background-color: rgb(226, 35, 35);
}
.info{
  background-color: rgb(76, 76, 244);
}
.success{
  background-color: greenyellow;
}
.error{
  background-color: orangered;
}